@import 'datatables.net-dt';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Saira';
    src: url('../../public/assets/font/Saira.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


