@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Oswald';
    src: url('../../public/assets/font/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
